{% extends 'base.html' %}

{% block content %}
<div class = 'container-fluid'>
    <div class = 'row justify-content-center'>
        <div class = 'col-4'>
            <span id = 'apiFont'>
                WeBook API site call
            </span>
        </div>
    </div>
</div>
<form method = 'POST' action='' name ='login_form'>
    <div class ='formClass'>
            <div class="row mt-5">
                <div class ='col'>
                {{form.csrf_token() }}<br>
                </div>
            </div> 
            <div class="row mt-3">
                <div class = 'col' id = 'bookField'>
                    {{form.park_id.label(class = 'text_')}}<br>
                    {{form.park_id}}
                </div>
                <div class = 'col' >
                    {{form.id.label(class = 'text_')}}<br>
                    {{form.park_id}}<br>
                </div>
            </div>

            <div class="row mt-3">
                <div class = 'col' id = 'bookField'>
                    {{form.park.label(class = 'text_')}}<br>
                    {{form.park}}
                </div>
                <div class = 'col' >
                    {{form.sites.label(class = 'text_')}}<br>
                    {{form.sites}}<br>
                </div>
            </div>
    

            <div class="row mt-3">
                <div class = 'col' id = 'bookField'>
                    {{form.campground.label(class = 'text_')}}<br>
                    {{form.campground}}
                </div>
                <div class = 'col' >
                    {{form.inner_campground.label(class = 'text_')}}<br>
                    {{form.inner_campground}}
                </div>
            </div>


            <div class = 'row mt-3 justify-content-center'>
                <div class = 'col-4' >
                    {{form.api_submit(class = 'button_')}}
                
                    {% if error %}
                        <div class ='row mt-3 justify-content-center'>
                            <div class ='col-4'>
                                <span id = 'loginError'> error  </span>
                            </div>
                        </div>
                    {% endif %}
                
                </div>
            </div>
    </div>
</form>


<script>
  
    var park_select = document.getElementById("park");
    var sites_select = document.getElementById("sites");
    var campground_select = document.getElementById("campground");
    var inner_campground_select = document.getElementById("inner_campground")
    
    
    park_select.onchange = function()  {
        
   
        
        const park = park_select.value;
  
        const url = 'http://127.0.0.1:5000/auth/sited/';
        
     
        

        fetch(url + park).then(function(response) {

            response.json().then(function(data) {
              
                var optionHTML = '';
                var optionHTML2 ='';
                var optionHTML3 ='';
                optionHTML += '<option value= ""> </option>';
                for (var sites of data.sites) 
                {
                    optionHTML += '<option value=" '+sites.names +'">' + sites.names + '</option>';
                    if (sites.inner_campground != null)
                    {
                        optionHTML3 += '<option value=" '+sites.inner_campground +'">' + sites.inner_campground + '</option>';
                    }
                    if (sites.campground != null)
                    {
                        optionHTML2 += '<option value=" '+sites.campground +'">' + sites.campground + '</option>'; 
                    }
                }
                sites_select.innerHTML = optionHTML;
                campground_select.innerHTML = optionHTML2;
                inner_campground_select.innerHTML = optionHTML3;
            })
            
        });
    
    }
    

</script>
{% endblock %}